*{
    padding: 0px;
    margin: 0px;
}
.banar-container{
    height: 100vh;
    background-image: url(/Images/background.jpg),linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}