body{
    margin: 0px;
    padding: 0px;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#0D7B77;
}
.logo img{
    width: 100px;
}
.Menu{
    display: flex;
    color: white;
    align-items: center;
    list-style: none;
    gap: 20px;
    font-size: 22px;
}
.first-container{
    display: flex;
    width: 80%;
    margin: auto;
    height: 100vh;
    text-align: center;
    align-items: center;
}
.services{
    width: 80%;
    margin: auto;
}
.left-side h1{
    font-size: 76px;
    color: #00ca9a;
    font-weight: bold;
}
.left-side p{
    font-size: 22px;
    color: black;
}
#doctor{
    width: 100%;
}
.btn1{
    color: white;
    border: none;
    background-color: rgb(13, 123, 68);
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
}
.btn1:hover{
    background-color:#00ca9a;
    color: white;
}
.btn2:hover{
    background-color:#00ca9a;
    color: white;
}
.btn2{
    color: white;
    border: none;
    background-color: #0D7B77;
    padding: 15px 25px;
    font-size: 20px;
    font-weight: 700;
    border-radius: 20px;
}
.all-box{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}
.title{
    font-size: 76px;
    color: #00ca9a;
    font-weight: bold;
    align-items: center;
}
.box{
    border: 0px solid gray;
    width: 300px;
    height: 350px;
    box-shadow: 8px 8px 16px gray;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.box img{
    width: 150px;
}
